<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="conexionBD" value="RABhAHQAYQAgAFMAbwB1AHIAYwBlACAAPQAgAEMAUgBJAFMAVABJAEEATgBcAFMAUQBMAEUAWABQAFIARQBTAFMADQAKACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgADsAIABJAG4AaQB0AGkAYQBsACAAQwBhAHQAYQBsAG8AZwAgAD0AIABDAGUAbgB0AHIAbwBfAEUAZAB1AGMAYQB0AGkAdgBvADsADQAKACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgACAAIAAgAFAAZQByAHMAaQBzAHQAIABTAGUAYwB1AHIAaQB0AHkAIABpAG4AZgBvACAAPQAgAHQAcgB1AGUAOwAgAHUAcwBlAHIAIABpAGQAIAA9ACAAdQBzAHIAXwBBAGQAbQBpAG4AaQBzAHQAcgBhAGQAbwByADsAIABwAGEAcwBzAHcAbwByAGQAPQAgADEAMgAzADQANQA2ADcAOAA7AA=="/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
