USE [Centro_Educativo]
GO
/****** Object:  User [usr_Administrador]    Script Date: 15/11/2024 04:34:05 ******/
CREATE USER [usr_Administrador] FOR LOGIN [usr_Administrador] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [usr_Administrador]
GO
/****** Object:  Table [dbo].[Aula]    Script Date: 15/11/2024 04:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aula](
	[ID_Aula] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [int] NOT NULL,
	[Ubicacion] [nvarchar](255) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Aula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[ID_Estudiante] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Correo] [nvarchar](50) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionario]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionario](
	[Nombre] [nvarchar](50) NOT NULL,
	[Contraseña] [nvarchar](20) NOT NULL,
	[Puesto] [nvarchar](30) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horarios]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horarios](
	[ID_Horario] [int] IDENTITY(1,1) NOT NULL,
	[Dia] [nvarchar](50) NOT NULL,
	[Hora_inicio] [time](7) NOT NULL,
	[Hora_fin] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materias]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materias](
	[ID_Materia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
	[ID_Profesor] [int] NULL,
	[ID_Aula] [int] NULL,
	[ID_Horario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matricula]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matricula](
	[ID_Matricula] [int] IDENTITY(1,1) NOT NULL,
	[Dia_Matricula] [datetime] NULL,
	[ID_Materia] [int] NOT NULL,
	[ID_Estudiante] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesor]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesor](
	[ID_Profesor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Correo] [nvarchar](50) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Codigo_Usuario] [int] NOT NULL,
	[Descripcion] [nvarchar](20) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosPorPerfiles]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosPorPerfiles](
	[Nombre] [nvarchar](50) NOT NULL,
	[Codigo_Usuario] [int] NOT NULL,
	[Estado] [nchar](10) NOT NULL,
 CONSTRAINT [PK_UsuariosPorPerfiles] PRIMARY KEY CLUSTERED 
(
	[Nombre] ASC,
	[Codigo_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Aula] ON 

INSERT [dbo].[Aula] ([ID_Aula], [Numero], [Ubicacion], [Estado]) VALUES (3, 155, N'Museo Nacional', N'Regular')
SET IDENTITY_INSERT [dbo].[Aula] OFF
GO
SET IDENTITY_INSERT [dbo].[Estudiantes] ON 

INSERT [dbo].[Estudiantes] ([ID_Estudiante], [Nombre], [Correo], [Telefono], [Estado]) VALUES (1, N'Ana Solis', N'Ana.Solis@centro.com', N'12345678', 1)
INSERT [dbo].[Estudiantes] ([ID_Estudiante], [Nombre], [Correo], [Telefono], [Estado]) VALUES (2, N'Juan Pérez', N'Juan.Perez@centro.com', N'24681369', 1)
INSERT [dbo].[Estudiantes] ([ID_Estudiante], [Nombre], [Correo], [Telefono], [Estado]) VALUES (3, N'María García', N'Maria.Garcia@centro.com', N'11223344', 1)
SET IDENTITY_INSERT [dbo].[Estudiantes] OFF
GO
INSERT [dbo].[Funcionario] ([Nombre], [Contraseña], [Puesto], [Estado]) VALUES (N'administrador', N'admin', N'administrador', 1)
INSERT [dbo].[Funcionario] ([Nombre], [Contraseña], [Puesto], [Estado]) VALUES (N'estudiante', N'est', N'estudiante', 1)
INSERT [dbo].[Funcionario] ([Nombre], [Contraseña], [Puesto], [Estado]) VALUES (N'oficina', N'ofis', N'oficina', 1)
GO
SET IDENTITY_INSERT [dbo].[Horarios] ON 

INSERT [dbo].[Horarios] ([ID_Horario], [Dia], [Hora_inicio], [Hora_fin]) VALUES (1, N'2024-11-06', CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time))
INSERT [dbo].[Horarios] ([ID_Horario], [Dia], [Hora_inicio], [Hora_fin]) VALUES (2, N'2024-11-07', CAST(N'10:00:00' AS Time), CAST(N'12:00:00' AS Time))
INSERT [dbo].[Horarios] ([ID_Horario], [Dia], [Hora_inicio], [Hora_fin]) VALUES (3, N'2024-11-08', CAST(N'13:00:00' AS Time), CAST(N'15:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Horarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Materias] ON 

INSERT [dbo].[Materias] ([ID_Materia], [Nombre], [Descripcion], [ID_Profesor], [ID_Aula], [ID_Horario]) VALUES (7, N'Historia', N'Historia', 6, 3, 5)
SET IDENTITY_INSERT [dbo].[Materias] OFF
GO
SET IDENTITY_INSERT [dbo].[Matricula] ON 

INSERT [dbo].[Matricula] ([ID_Matricula], [Dia_Matricula], [ID_Materia], [ID_Estudiante], [Estado]) VALUES (6, CAST(N'2024-11-15T16:31:24.350' AS DateTime), 7, 1, 1)
SET IDENTITY_INSERT [dbo].[Matricula] OFF
GO
SET IDENTITY_INSERT [dbo].[Profesor] ON 

INSERT [dbo].[Profesor] ([ID_Profesor], [Nombre], [Correo], [Telefono], [Estado]) VALUES (1, N'Diego López', N'Diego.Lopez@profe.com', N'55667788', 1)
INSERT [dbo].[Profesor] ([ID_Profesor], [Nombre], [Correo], [Telefono], [Estado]) VALUES (2, N'Sofía Herrera', N'Sofia.Herrera@profe.com', N'88776655', 1)
INSERT [dbo].[Profesor] ([ID_Profesor], [Nombre], [Correo], [Telefono], [Estado]) VALUES (3, N'Miguel Ruiz', N'Miguel.Ruiz@profe.com', N'55443322', 1)
SET IDENTITY_INSERT [dbo].[Profesor] OFF
GO
INSERT [dbo].[Usuario] ([Codigo_Usuario], [Descripcion], [Estado]) VALUES (1, N'Mantenimiento', 1)
INSERT [dbo].[Usuario] ([Codigo_Usuario], [Descripcion], [Estado]) VALUES (2, N'Procesos', 1)
INSERT [dbo].[Usuario] ([Codigo_Usuario], [Descripcion], [Estado]) VALUES (3, N'Consultas', 1)
GO
INSERT [dbo].[UsuariosPorPerfiles] ([Nombre], [Codigo_Usuario], [Estado]) VALUES (N'administrador', 1, N'1         ')
INSERT [dbo].[UsuariosPorPerfiles] ([Nombre], [Codigo_Usuario], [Estado]) VALUES (N'administrador', 2, N'1         ')
INSERT [dbo].[UsuariosPorPerfiles] ([Nombre], [Codigo_Usuario], [Estado]) VALUES (N'administrador', 3, N'1         ')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Estudian__60695A19CA4B3648]    Script Date: 15/11/2024 04:34:06 ******/
ALTER TABLE [dbo].[Estudiantes] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Estudian__60695A19CDE6D19B]    Script Date: 15/11/2024 04:34:06 ******/
ALTER TABLE [dbo].[Estudiantes] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Profesor__60695A193DAC7402]    Script Date: 15/11/2024 04:34:06 ******/
ALTER TABLE [dbo].[Profesor] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Profesor__60695A199C80F78C]    Script Date: 15/11/2024 04:34:06 ******/
ALTER TABLE [dbo].[Profesor] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Funcionario] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Matricula] ADD  DEFAULT (getdate()) FOR [Dia_Matricula]
GO
ALTER TABLE [dbo].[Materias]  WITH CHECK ADD  CONSTRAINT [FK_Materias_Aula] FOREIGN KEY([ID_Aula])
REFERENCES [dbo].[Aula] ([ID_Aula])
GO
ALTER TABLE [dbo].[Materias] CHECK CONSTRAINT [FK_Materias_Aula]
GO
ALTER TABLE [dbo].[Materias]  WITH CHECK ADD  CONSTRAINT [FK_Materias_Horario] FOREIGN KEY([ID_Horario])
REFERENCES [dbo].[Horarios] ([ID_Horario])
GO
ALTER TABLE [dbo].[Materias] CHECK CONSTRAINT [FK_Materias_Horario]
GO
ALTER TABLE [dbo].[Materias]  WITH CHECK ADD  CONSTRAINT [FK_Materias_Profesor] FOREIGN KEY([ID_Profesor])
REFERENCES [dbo].[Profesor] ([ID_Profesor])
GO
ALTER TABLE [dbo].[Materias] CHECK CONSTRAINT [FK_Materias_Profesor]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD FOREIGN KEY([ID_Estudiante])
REFERENCES [dbo].[Estudiantes] ([ID_Estudiante])
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD FOREIGN KEY([ID_Materia])
REFERENCES [dbo].[Materias] ([ID_Materia])
GO
ALTER TABLE [dbo].[UsuariosPorPerfiles]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosPorPerfiles_Funcionarios] FOREIGN KEY([Nombre])
REFERENCES [dbo].[Funcionario] ([Nombre])
GO
ALTER TABLE [dbo].[UsuariosPorPerfiles] CHECK CONSTRAINT [FK_UsuariosPorPerfiles_Funcionarios]
GO
ALTER TABLE [dbo].[UsuariosPorPerfiles]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosPorPerfiles_Usuario] FOREIGN KEY([Codigo_Usuario])
REFERENCES [dbo].[Usuario] ([Codigo_Usuario])
GO
ALTER TABLE [dbo].[UsuariosPorPerfiles] CHECK CONSTRAINT [FK_UsuariosPorPerfiles_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[PA_AgregarAula]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_AgregarAula]
(
	@Numero int,
	@Ubicacion nvarchar(255),
	@Estado nvarchar(50)
)
AS
BEGIN

INSERT INTO Aula
(Numero, Ubicacion, Estado)
VALUES
(@Numero, @Ubicacion, @Estado)

END
GO
/****** Object:  StoredProcedure [dbo].[PA_AgregarEstudiante]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_AgregarEstudiante]
(
	@Nombre nvarchar(50),
	@Correo nvarchar(50),
	@Telefono nvarchar(20),
	@Estado BIT
)
AS
BEGIN

INSERT INTO Estudiantes
(Nombre,Correo,Telefono, Estado)
VALUES
(@Nombre, @Correo, @Telefono, @Estado)

END
GO
/****** Object:  StoredProcedure [dbo].[PA_AgregarFuncionario]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_AgregarFuncionario]
(
	@Nombre nvarchar(50),
	@Contraseña nvarchar(20),
	@Puesto nvarchar(30),
	@Estado Bit
)
AS
BEGIN

INSERT INTO Funcionario
(Nombre,Contraseña,Puesto,Estado)
VALUES
(@Nombre, @Contraseña, @Puesto, @Estado)

END
GO
/****** Object:  StoredProcedure [dbo].[PA_AgregarHorario]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_AgregarHorario]
(
	@Dia nvarchar(50),
	@HoraInicio time,
	@HoraFin time
)
AS
BEGIN

INSERT INTO Horarios
(Dia,Hora_inicio,Hora_fin)
VALUES
(@Dia, @HoraInicio, @HoraFin)

END
GO
/****** Object:  StoredProcedure [dbo].[PA_AgregarMateria]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_AgregarMateria]
(
	@Nombre nvarchar(50),
	@Descripcion nvarchar(200),
	@ID_Profesor int,
	@ID_Aula int,
	@ID_Horario int
)
AS
BEGIN

INSERT INTO Materias
(Nombre,Descripcion, ID_Profesor,ID_Aula,ID_Horario)
VALUES
(@Nombre, @Descripcion,@ID_Profesor, @ID_Aula, @ID_Horario)

END
GO
/****** Object:  StoredProcedure [dbo].[PA_AgregarMatricula]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PA_AgregarMatricula]
(
@ID_Materia INT,
@ID_Estudiante INT,
@Estado BIT
)
AS
BEGIN

INSERT INTO Matricula
(ID_Materia, ID_Estudiante, Estado)
VALUES
(@ID_Materia, @ID_Estudiante, @Estado)

END

GO
/****** Object:  StoredProcedure [dbo].[PA_AgregarProfesor]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_AgregarProfesor]
(
	@Nombre nvarchar(50),
	@Correo nvarchar(50),
	@Telefono nvarchar(20),
	@Estado Bit
)
AS
BEGIN

INSERT INTO Profesor
(Nombre,Correo,Telefono, Estado)
VALUES
(@Nombre, @Correo, @Telefono, @Estado)

END
GO
/****** Object:  StoredProcedure [dbo].[PA_AgregarUsuarioPorPerfil]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_AgregarUsuarioPorPerfil]
(
	@Usuario INT, 
	@Contraseña nvarchar(20) 
)

AS
BEGIN

INSERT INTO UsuariosPorPerfiles
(Nombre,Codigo_Usuario)
VALUES
(@Usuario, @Contraseña)

END
GO
/****** Object:  StoredProcedure [dbo].[PA_Autenticacion]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_Autenticacion]
(
	@Funcionario nvarchar(50), 
	@Contraseña nvarchar(20)
)

AS
BEGIN

SELECT	Nombre
FROM    Funcionario
WHERE   Nombre     = @Funcionario
AND		Contraseña = @Contraseña
AND		Puesto     = Puesto
AND		Estado     = 1

END
GO
/****** Object:  StoredProcedure [dbo].[PA_Autorizacion]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_Autorizacion]
(
	@NombreFuncionario nvarchar(50)
)

AS
BEGIN

SELECT	B.Codigo_Usuario, B.Descripcion

FROM	Funcionario		     A,
		Usuario					 B,
		UsuariosPorPerfiles	     C

WHERE	B.Codigo_Usuario     = C.Codigo_Usuario
AND     A.Puesto             = C.Nombre
AND     A.Nombre             = @NombreFuncionario

END
GO
/****** Object:  StoredProcedure [dbo].[PA_ConsultarAula]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_ConsultarAula]
(
	@ID_Aula int
)
AS
BEGIN

SELECT ID_Aula, Numero, Ubicacion, Estado
FROM   Aula

WHERE  ID_Aula = @ID_Aula

END
GO
/****** Object:  StoredProcedure [dbo].[PA_ConsultarAulas]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_ConsultarAulas]
(
	@Ubicacion nvarchar(255) 
)
AS
BEGIN

SELECT ID_Aula, Numero,Ubicacion,Estado
FROM   Aula

WHERE  Ubicacion LIKE '%' + @Ubicacion +'%'


END
GO
/****** Object:  StoredProcedure [dbo].[PA_ConsultarEstudiante]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_ConsultarEstudiante]
(
	@Nombre nvarchar(50) 
)
AS
BEGIN

SELECT ID_Estudiante, Nombre,Correo,Telefono,Estado
FROM   Estudiantes

WHERE  Nombre LIKE '%' + @Nombre +'%'


END
GO
/****** Object:  StoredProcedure [dbo].[PA_ConsultarFuncionario]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_ConsultarFuncionario]
(
	@Nombre nvarchar(50) 
)
AS
BEGIN

SELECT Nombre,Contraseña,Puesto,Estado
FROM   Funcionario

WHERE  Nombre LIKE '%' + @Nombre +'%'


END
GO
/****** Object:  StoredProcedure [dbo].[PA_ConsultarHorario]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_ConsultarHorario]
(
	@ID_Horario int
)
AS
BEGIN

SELECT ID_Horario, Dia, Hora_inicio, Hora_fin
FROM   Horarios

WHERE  ID_Horario = @ID_Horario

END
GO
/****** Object:  StoredProcedure [dbo].[PA_ConsultarHorarios]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_ConsultarHorarios]
AS
BEGIN

SELECT ID_Horario, Dia,Hora_inicio,Hora_fin
FROM   Horarios

END
GO
/****** Object:  StoredProcedure [dbo].[PA_ConsultarMaterias]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_ConsultarMaterias]
(
	@Nombre nvarchar(50) 
)
AS
BEGIN

SELECT ID_Materia, Nombre,Descripcion, ID_Profesor, ID_Aula, ID_Horario
FROM   Materias

WHERE  Nombre LIKE '%' + @Nombre +'%'


END
GO
/****** Object:  StoredProcedure [dbo].[PA_ConsultarMatriculas]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PA_ConsultarMatriculas]
(
@ID_Estudiante INT
)
AS
BEGIN

SELECT ID_Matricula, Dia_Matricula, ID_Materia, ID_Estudiante, Estado
FROM   Matricula
WHERE  ID_Estudiante = @ID_Estudiante

END
GO
/****** Object:  StoredProcedure [dbo].[PA_ConsultarProfesor]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_ConsultarProfesor]
(
	@ID_Profesor int
)
AS
BEGIN

SELECT ID_Profesor, Nombre,Correo,Telefono, Estado
FROM   Profesor

WHERE  ID_Profesor = @ID_Profesor

END
GO
/****** Object:  StoredProcedure [dbo].[PA_ConsultarProfesores]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_ConsultarProfesores]
(
	@Nombre nvarchar(50) 
)
AS
BEGIN

SELECT ID_Profesor, Nombre,Correo,Telefono, Estado
FROM   Profesor

WHERE  Nombre LIKE '%' + @Nombre +'%'


END
GO
/****** Object:  StoredProcedure [dbo].[PA_EliminarAula]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PA_EliminarAula]
(
@ID_Aula INT
)
AS
BEGIN

DELETE 
FROM   Aula
WHERE  ID_Aula = @ID_Aula

END
GO
/****** Object:  StoredProcedure [dbo].[PA_EliminarEstudiante]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_EliminarEstudiante]
(
	@Nombre nvarchar(50) 
)
AS
BEGIN

DELETE 
FROM   Estudiantes

WHERE  Nombre = @Nombre


END
GO
/****** Object:  StoredProcedure [dbo].[PA_EliminarFuncionario]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_EliminarFuncionario]
(
	@Nombre nvarchar(50) 
)
AS
BEGIN

DELETE 
FROM   Funcionario

WHERE  Nombre = @Nombre


END
GO
/****** Object:  StoredProcedure [dbo].[PA_EliminarHorario]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_EliminarHorario]
(
	@Dia nvarchar(50),
	@HoraInicio time,
	@HoraFin time
)
AS
BEGIN

DELETE 
FROM   Horarios

WHERE  Dia = @Dia
AND    Hora_inicio = @HoraInicio
AND    Hora_fin = @HoraFin;

END
GO
/****** Object:  StoredProcedure [dbo].[PA_EliminarMateria]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_EliminarMateria]
(
	@ID_Materia int 
)
AS
BEGIN

DELETE 
FROM   Materias

WHERE  ID_Materia = @ID_Materia


END
GO
/****** Object:  StoredProcedure [dbo].[PA_EliminarMatricula]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PA_EliminarMatricula]
(
@ID_Matricula INT
)
AS
BEGIN

DELETE 
FROM   Matricula
WHERE  ID_Matricula = @ID_Matricula

END
GO
/****** Object:  StoredProcedure [dbo].[PA_EliminarProfesor]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_EliminarProfesor]
(
	@Nombre nvarchar(50) 
)
AS
BEGIN

DELETE 
FROM   Profesor

WHERE  Nombre = @Nombre


END
GO
/****** Object:  StoredProcedure [dbo].[PA_ModificarAula]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_ModificarAula]
(
	@ID_Aula int,
	@Numero int,
	@Ubicacion nvarchar(255),
	@Estado varchar(50)
)
AS
BEGIN

UPDATE Aula
SET    Numero = @Numero,
	   Ubicacion = @Ubicacion,
	   Estado = @Estado
WHERE  ID_Aula = @ID_Aula

END
GO
/****** Object:  StoredProcedure [dbo].[PA_ModificarEstudiante]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_ModificarEstudiante]
(
	@Nombre nvarchar(50),
	@Correo nvarchar(50),
	@Telefono nvarchar(20),
	@Estado BIT
)
AS
BEGIN

UPDATE Estudiantes
SET    Correo = @Correo,
	   Telefono = @Telefono,
	   Estado = @Estado
WHERE  Nombre = @Nombre

END
GO
/****** Object:  StoredProcedure [dbo].[PA_ModificarFuncionario]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PA_ModificarFuncionario]
(
	@Nombre nvarchar(50),
	@Contraseña nvarchar(20),
	@Puesto nvarchar(30),
	@Estado Bit
)
AS
BEGIN

UPDATE Funcionario
SET    Contraseña = @Contraseña,
	   Puesto = @Puesto,
	   Estado = @Estado
WHERE  Nombre = @Nombre


END
GO
/****** Object:  StoredProcedure [dbo].[PA_ModificarHorario]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_ModificarHorario]
(
	@HorarioID int,
	@Dia nvarchar(50),
	@HoraInicio time,
	@HoraFin time
)
AS
BEGIN

UPDATE Horarios
SET    
	   Dia = @Dia,
	   Hora_inicio = @HoraInicio,
	   Hora_fin = @HoraFin
WHERE  ID_Horario = @HorarioID

END
GO
/****** Object:  StoredProcedure [dbo].[PA_ModificarMateria]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_ModificarMateria]
(
	@ID_Materia int,
	@Nombre nvarchar(50),
	@Descripcion nvarchar(200),
	@ID_Profesor int,
	@ID_Aula int,
	@ID_Horario int
)
AS
BEGIN

UPDATE Materias
SET    Nombre = @Nombre,
	   Descripcion = @Descripcion,
	   ID_Profesor = @ID_Profesor,
	   ID_Aula = @ID_Aula,
	   ID_Horario = @ID_Horario
WHERE  ID_Materia = @ID_Materia

END
GO
/****** Object:  StoredProcedure [dbo].[PA_ModificarMatricula]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PA_ModificarMatricula]
(
@ID_Matricula INT,
@ID_Materia INT,
@ID_Estudiante INT,
@Estado BIT
)
AS
BEGIN

UPDATE Matricula
SET    Dia_Matricula = GETDATE(),
	   ID_Materia = @ID_Materia,
       ID_Estudiante = @ID_Estudiante,
       Estado = @Estado
WHERE  ID_Matricula = @ID_Matricula

END
GO
/****** Object:  StoredProcedure [dbo].[PA_ModificarProfesor]    Script Date: 15/11/2024 04:34:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PA_ModificarProfesor]
(
	@Nombre nvarchar(50),
	@Correo nvarchar(50),
	@Telefono nvarchar(20),
	@Estado BIT
)
AS
BEGIN

UPDATE Profesor
SET    Correo = @Correo,
	   Telefono = @Telefono,
	   Estado = @Estado
WHERE  Nombre = @Nombre

END
GO
